body {
    margin-top: 50px;
    /*background-color: #c0deed;*/
    color: black;
    font-family: Helvetica;
    margin-bottom: 50px;
    background-color: #ccd8e5;
}

h1 {
    text-align: center;
}
.checked {
    color: orange;
}
.jumlah{
    background-color:#a6b4c5;
    width: 20%;
    color: white;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://image.ibb.co/iZpw3V/Preloader-6.gif) center no-repeat #fff;
}